body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mobile-header {
	width: 100vw;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	color: var(--just-white);
	background-color: var(--color-primary);
	border-bottom: 1px solid var(--color-secondary);
	box-shadow: 0 20px 20px 5px rgba(181, 131, 141, 0.4);
}

.mobile-header>nav {
	width: inherit;
	height: 115px;
	display: flex;
	padding: 12px 18px;
}

.mobile-header .navbar-left {
	width: inherit;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
}

.mobile-header .navbar-left>.navIcons {
	display: flex;
	align-items: center;
	gap: 20px;
}

.mobile-header .navbar-left > .navIcons i {
	margin-top: 5px;
	font-size: 35px;
	color: var(--just-white);
}

.mobile-header .navbar-left>.brand {
	width: max-content;
}

.mobile-header .navbar-left .redirect-home {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--just-white);
	gap: 10px;
}

.mobile-header .navbar-left .redirect-home .logoImage {
	height: 85px;
}

.mobile-header .navbar-left .redirect-home .logoName {
	font-family: var(--fontMain);
	font-size: var(--title-h4);
	font-weight: normal;
}

.mobile-header .listNavigation,
.mobile-header .navbar-right {
	display: none;
}

#btn-menu {
	display: none;
}

.mobile-menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: all 800ms linear;
	background-color: var(--just-white);
}

#btn-menu:checked~.mobile-menu {
	opacity: 1;
	visibility: visible;
}

#btn-menu:checked~.mobile-menu .menu__content {
	transform: translateX(0%);
}

.menu__content {
	width: inherit;
	height: inherit;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px 24px 50px;
	transition: all 600ms linear;
	transform: translateX(100%);
}

.menu__content>label {
	position: absolute;
	top: 30px;
	right: 20px;
}

.menu__content>label>i {
	font-size: 35px;
	color: var(--color-primary);
}

.menu__content>.topSection>.listNavigation,
.menu__content>.bottomSection>.userAccount {
	list-style: none;
	border-bottom: 2px solid var(--color-primary);
}

.menu__content>.topSection h3 {
	font-family: var(--fontMain);
	font-size: var(--title-h2);
	margin-bottom: 40px;
}

.menu__content>section>ul>li {
	margin-bottom: 24px;
}

.menu__content>.topSection a,
.menu__content>.bottomSection a {
	margin-left: 30px;
	font-size: var(--paragraphs);
	font-weight: 600;
	text-decoration: none;
	color: var(--just-black);
}

.menu__content>.bottomSection>.userAccount .email {
	font-size: 14px;
	font-weight: 200;
}

.menu__content>.bottomSection>.userAccount .signOut {
	display: flex;
	gap: 10px;
	color: var(--color-primary);
}




.mainLayout {
	width: 100%;
	height: auto;
	margin: 115px 0;
}

.mainLayout .title {
	font-size: var(--title-h1);
	text-align: center;
	padding: 20px 0 10px;
}

.cardsContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
	gap: 30px;
}

.cardProduct {
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	background-color: var(--text-input-field);
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 2px 0 10px 1px rgba(0, 0, 0, .6);
}

.cardProduct > .productImage {
	position: relative;
	width: inherit;
	height: 200px;
	background-size: cover;
}
/* .cardProduct > .productImage > input[type="submit"] {
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	border: none;
	top: 8px;
	right: 8px;
	padding: 5px;
	border-radius: 50px;
	background-size: contain;
	background-color: var(--dark-variation);
	border: 2px solid transparent;
	transition: .9s;
}
.cardProduct>.productImage>input[type="submit"]:hover {
	cursor: pointer;
	border: 2px solid #FFF;
}
#email {
	display: none;
} */

.cardProduct > .productName {
	font-size: var(--title-h6);
	font-weight: 600;
	margin: 10px 0;
	text-align: center;
}

.cardProduct > .productDescription {
	font-size: 12px;
	text-align: justify;
	padding: 0 20px;
	margin-bottom: 5px;
}

.cardProduct > .infoDetail {
	display: flex;
	width: inherit;
	justify-content: space-between;
	padding: 0 20px;
}
.infoDetail > .existencias {
	font-size: 12px;
}
.infoDetail>.existencias > span {
	color: green;
	font-weight: 600;
}
.infoDetail>.price {
	font-size: var(--paragraphs);
	font-weight: 800;
}



.footer-container {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 16px;
	padding-bottom: 50px;
	background-color: var(--color-primary);
}

.footer-container>.linkToTop {
	width: 100%;
	text-align: center;
	padding: 15px 0;
	text-decoration: none;
	font-size: var(--paragraphs);
	color: var(--warm-black);
	background-color: var(--just-white);
	border: 1px solid rgba(109, 104, 117, .8);
}

.footer-container>.linkToTop>i {
	font-size: 20px;
}

.footer-container>.creatorName {
	width: 85%;
	text-align: center;
	padding: 25px 15px;
	font-weight: 600;
	border-bottom: 2px solid var(--text-input-field);
}

.footer-container>.payment-methods,
.footer-container>.socialMedia {
	width: 90%;
	padding: 20px 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.footer-container>.payment-methods>i,
.footer-container>.socialMedia>i {
	font-size: 34px;
}

.footer-container>.socialMedia {
	display: none;
}

.footer-container>.bottom-info {
	width: 100%;
	display: flex;
	align-items: center;
}

.footer-container>.bottom-info>.logoRound,
.footer-container>.bottom-info>.specialThanks {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	gap: 5px;
}

.footer-container>.bottom-info>.logoRound>img {
	width: 130px;
}

.bottom-info>.logoRound>.copyrightYear {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	gap: 7px;
}

.specialThanks>.admin,
.specialThanks>.copyrightDetail {
	font-size: 15px;
	font-weight: 400;
}

.specialThanks>.admin>a {
	font-size: 13px;
	font-weight: 200;
	letter-spacing: 1px;
	color: var(--just-white);
}

.specialThanks>.admin {
	margin-bottom: 15px;
}


@media (max-width: 768px) {
	.menu {
		display: block;
	}

	.navbar-left ul {
		display: none;
	}

	.navbar-email {
		display: none;
	}
}

@media (min-width: 425px) {
	header .btn-menu>label {
		margin-right: 0;
	}
}
