body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mobile-header {
	width: 100vw;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	color: var(--just-white);
	background-color: var(--color-primary);
	border-bottom: 1px solid var(--color-secondary);
	box-shadow: 0 20px 20px 5px rgba(181, 131, 141, 0.4);
}

.mobile-header > nav {
	width: inherit;
	height: 115px;
	display: flex;
	padding: 12px 18px;
}

.mobile-header .navbar-left {
	width: inherit;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
}

.mobile-header .navbar-left i {
	font-size: 35px;
	margin-top: 5px;
}

.mobile-header .navbar-left > .brand {
	width: max-content;
}

.mobile-header .navbar-left .redirect-home {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--just-white);
	gap: 10px;
}

.mobile-header .navbar-left .redirect-home .logoImage {
	height: 85px;
}

.mobile-header .navbar-left .redirect-home .logoName {
	font-family: var(--fontMain);
	font-size: var(--title-h4);
	font-weight: normal;
}

.mobile-header .listNavigation,
.mobile-header .navbar-right {
	display: none;
}

#btn-menu {
	display: none;
}

.mobile-menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: all 800ms linear;
	background-color: var(--just-white);
}

#btn-menu:checked ~ .mobile-menu {
	opacity: 1;
	visibility: visible;
}

#btn-menu:checked ~ .mobile-menu .menu__content {
	transform: translateX(0%);
}

.menu__content {
	width: inherit;
	height: inherit;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px 24px 50px;
	transition: all 600ms linear;
	transform: translateX(100%);
}

.menu__content > label {
	position: absolute;
	top: 30px;
	right: 20px;
}

.menu__content > label > i {
	font-size: 35px;
	color: var(--color-primary);
}

.menu__content > .topSection > .listNavigation,
.menu__content > .bottomSection > .userAccount {
	list-style: none;
	border-bottom: 2px solid var(--color-primary);
}

.menu__content > .topSection h3 {
	font-family: var(--fontMain);
	font-size: var(--title-h2);
	margin-bottom: 40px;
}

.menu__content > section > ul > li {
	margin-bottom: 24px;
}

.menu__content > .topSection a,
.menu__content > .bottomSection a {
	margin-left: 30px;
	font-size: var(--paragraphs);
	font-weight: 600;
	text-decoration: none;
	color: var(--just-black);
}

.menu__content > .bottomSection > .userAccount .email {
	font-size: 14px;
	font-weight: 200;
}

.menu__content > .bottomSection > .userAccount .signOut {
	display: flex;
	gap: 10px;
	color: var(--color-primary);
}


.banner-container {
	width: inherit;
	height: 400px;
	position: relative;
	/* background-image: url('https://cdn.dribbble.com/userupload/5917176/file/original-dc2669c1cd728bb0306efebb7126498d.jpg?resize=1021x681&vertical=center'); */
	background-image: url('./assets/images/pasteleria-w-chef.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 115px;
}

.banner-container > i {
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 25px;
	color: rgba(229, 152, 155, 0.4);
}

.banner-container > .banner-capa {
	width: inherit;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.3);
}

.banner-container > .banner__info {
	position: absolute;
	bottom: 0;
	padding: 0 30px 40px;
	color: var(--just-white);
}

.banner-container > .banner__info > h1 {
	font-size: var(--title-h2);
	font-family: var(--fontMain);
}

.banner-container > .banner__info > p {
	font-size: 15px;
	font-weight: 500;
	text-align: justify;
}

.banner-container > .button-reviews {
	position: absolute;
	left: calc(50% - 120px);
	bottom: -25px;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 15px;
	gap: 5px;
	background-color: var(--just-white);
	box-shadow: 0px 4px 8px rgba(229, 152, 155, 0.4);
	border-radius: 10px;
}

.banner-container > .button-reviews > p,
.banner-container > .button-reviews > i {
	font-size: var(--paragraphs);
	color: var(--color-secondary);
}

.intro-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 30px 80px;
	text-align: justify;
}

.intro-container > img {
	width: 90%;
}

.intro-container > h3 {
	font-family: var(--fontMain);
	font-size: var(--title-h3);
	text-align: center;
	margin-bottom: 20px;
}

.intro-container > p {
	font-size: var(--paragraphs);
}

.virtudes-container {
	width: inherit;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 30px 100px;
	background-color: var(--color-primary);
	color: var(--just-white);
}

.virtudes-container > img {
	height: 65px;
	position: absolute;
	top: -38px;
}

.virtudes-container > h3 {
	font-family: var(--fontMain);
	font-size: var(--title-h3);
	text-align: center;
}

.virtudes-container > p {
	margin: 30px 0 40px;
	font-size: var(--paragraphs);
	text-align: justify;
}

.virtudes-container > .articles-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.articles-container > .article-virtud {
	padding: 15px;
	background-color: var(--text-input-field);
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(109, 104, 117, 0.8);
}

.articles-container > .article-virtud > .article-heading {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}

.articles-container > .article-virtud > .article-heading > i,
.articles-container > .article-virtud > .article-heading > h5 {
	color: var(--color-secondary);
	font-size: var(--title-h6);
	font-weight: 600;
}

.articles-container > .article-virtud > p {
	font-size: 14px;
	color: var(--warm-black);
}

.picture-section {
	width: inherit;
	height: 70vh;
	position: relative;
	background-image: url('https://central-gourmet.mx/cdn/shop/collections/clases_de_reposteria_central_gourmet.png?v=1651261878');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.reviews-container {
	width: 100vw;
	height: auto;
	padding: 30px;
}
.reviews-container > h2 {
	font-family: var(--fontMain);
	font-size: var(--title-h1);
	text-align: center;
}

.reviews-container > .carrousel {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
	gap: 15px;
}
.reviews-container > .carrousel > i {
	font-size: 24px;
}

.reviews-container > .carrousel > .review {
	max-width: 320px;
	height: 370px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 30px 25px 50px;
	border-radius: 10px;
	background-color: var(--text-input-field);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}
.reviews-container > .carrousel > .review.hidden {
	display: none;
}
.reviews-container > .carrousel > .invisible {
	visibility: hidden;
}

.review > .dateOfReview {
	width: 130px;
	position: absolute;
	top: -15px;
	left: calc(50% - 65px);
	padding: 5px;
	border-radius: 5px;
	font-family: var(--fontAlternative);
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	color: var(--text-input-field);
	background-color: var(--color-secondary);
}
.review > .dateOfReview > span {
	font-weight: bold;
}

.review > .profilePicture {
	width: 100px;
}

.review > .profileUsername {
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	font-weight: 500;
	font-size: var(--title-h6);
	text-align: center;
	border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.review > .reviewNote {
	margin: -5px 0 15px;
}
.review > .reviewNote > i {
	color: var(--color-secondary);
}

.review > .reviewDetail {
	text-align: justify;
	font-size: 15px;
}



/* Slider */
/* .frame-slider {
	width: 200px;
	height: 200px;
	margin: 30px 0 60px;
	overflow: hidden;
	border: 4px solid var(--just-grey);
	border-radius: 20px;
	box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.9);
}

.resena .frame-slider {
	margin: 0;
}

.resena .frame-slider:last-child {
	margin: 10px 0 60px;
}

.review-slider {
	width: 80%;
	height: auto;
	margin-bottom: 60px;
	border: none;
	border-radius: 0;
	box-shadow: 0 0 0 0;
}

.frame-slider ul {
	display: flex;
	padding: 0;
	width: 100%;
	height: 100%;
}

.resena .frame-slider ul {
	width: 300%;
	animation: slide 10s infinite alternate;
}

.frame-slider li {
	width: 100%;
	list-style: none;
}

.frame-slider img {
	height: 100%;
	width: 100%;
}

.frame-slider .name {
	display: block;
	font-size: 26px;
}

.frame-slider .review {
	font-size: 16px;
}

.frame-slider .name,
.frame-slider .review {
	text-align: center;
}

.review-slider {
	margin-top: 20px;
} */

/*Definen los fotogramas de la secuencia de animacion
se estable un inicio y un fin para cada animacion estos se miden en % y van de 0
a 100*/
@keyframes slide {

	/* imagen1 */
	0% {
		margin-left: 0%;
	}

	/*inicio*/
	30% {
		margin-left: 0%;
	}

	/*fin*/
	/* imagen2 */
	35% {
		margin-left: -100%;
	}

	65% {
		margin-left: -100%;
	}

	/* imagen3 */
	70% {
		margin-left: -200%;
	}

	100% {
		margin-left: -200%;
	}
}

.footer-container {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 16px;
	padding-bottom: 50px;
	background-color: var(--color-primary);
}

.footer-container > .linkToTop {
	width: 100%;
	text-align: center;
	padding: 15px 0;
	text-decoration: none;
	font-size: var(--paragraphs);
	color: var(--warm-black);
	background-color: var(--just-white);
	border: 1px solid rgba(109, 104, 117, .8);
}

.footer-container > .linkToTop > i {
	font-size: 20px;
}

.footer-container > .creatorName {
	width: 85%;
	text-align: center;
	padding: 25px 15px;
	font-weight: 600;
	border-bottom: 2px solid var(--text-input-field);
}

.footer-container > .payment-methods,
.footer-container > .socialMedia {
	width: 90%;
	padding: 20px 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.footer-container > .payment-methods > i,
.footer-container > .socialMedia > i {
	font-size: 34px;
}

.footer-container > .socialMedia {
	display: none;
}

.footer-container > .bottom-info {
	width: 100%;
	display: flex;
	align-items: center;
}

.footer-container > .bottom-info > .logoRound,
.footer-container > .bottom-info > .specialThanks {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	gap: 5px;
}

.footer-container > .bottom-info > .logoRound > img {
	width: 130px;
}

.bottom-info > .logoRound > .copyrightYear {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	gap: 7px;
}

.specialThanks > .admin, .specialThanks > .copyrightDetail {
	font-size: 15px;
	font-weight: 400;
}

.specialThanks > .admin > a {
	font-size: 13px;
	font-weight: 200;
	letter-spacing: 1px;
	color: var(--just-white);
}

.specialThanks > .admin {
	margin-bottom: 15px;
}


@media (max-width: 768px) {
	.menu {
		display: block;
	}

	.navbar-left ul {
		display: none;
	}

	.navbar-email {
		display: none;
	}
}

@media (min-width: 425px) {
	header .btn-menu>label {
		margin-right: 0;
	}
}
