:root {
	/* Colors */
	--color-primary: #b5838d;
	--color-secondary: #e5989b;
	--dark-variation: #6d6875;
	--color-variation: #ffb4a2;
	--soft-variation: #ffcdb2;
	--just-white: #FFF;
	--soft-white: bisque;
	--just-grey: #C7C7C7;
	--warm-black: #282623;
	--just-black: #000;
	/* Fonts */
	--title-h1: 50rem;
	--title-h2: 42rem;
	--title-h3: 38rem;
	--title-h4: 34rem;
	--title-h5: 30rem;
	--title-h6: 26rem;
	--paragraphs: 24rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Kaushan Script", cursive;
	scroll-behavior: smooth;
	font-size: 6.25%;
}

html::-webkit-scrollbar {
	width: 10px;
	border-radius: 20px;
	background-color: var(--color-variation);
}

html::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--dark-variation);
}

body {
	width: 100vw;
	overflow-x: hidden;
	background-color: var(--color-primary);
}

/* Cabecera */
header {
	width: 100vw;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	/* background-color: var(--color-secondary); */
	/* background-color: var(--just-black); */
	color: var(--just-white);
	padding: 0 30px;
	transition: 0.5s;
	transition-delay: 1ms;
}

header.off {
	transform: translateY(-300px);
}

header.solid {
	background-color: var(--just-black);
}

.btn-menu,
.container__nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
}

.btn-menu>label {
	cursor: pointer;
	font-size: 30px;
}

.btn-menu>a {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--just-white);
}

.btn-menu img {
	height: 60%;
	margin-left: 40px;
}

.btn-menu h1 {
	margin-left: 10px;
	font-weight: 600;
	font-size: var(--title-h4);
}

.container__nav ul {
	display: flex;
	list-style: none;
}

.nav--menu>li>a {
	border-bottom: 3px solid transparent;
	padding: 0 20px 5px;
	margin-right: 15px;
	transition: all 0.3s ease-in;
	text-decoration: none;
	font-weight: 500;
	font-size: 20rem;
	color: var(--just-white);
}

.nav--menu a:hover {
	border-bottom: 3px solid var(--color-variation);
	padding-bottom: 5px;
}

/* Menú lateral */
#btn-menu {
	display: none;
}

.menu-lateral {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	transition: all 800ms ease;
	background-color: rgba(0, 0, 0, 0.9);
	visibility: hidden;
	opacity: 0;
}

#btn-menu:checked~.menu-lateral {
	opacity: 1;
	visibility: visible;
}

.menu__content {
	/* position: relative; */
	max-width: 400px;
	height: 100vh;
	background-color: #1C1C1C;
	transition: all 500ms ease;
	transform: translateX(-100%);
}

#btn-menu:checked~.menu-lateral .menu__content {
	transform: translateX(0%);
}

.menu__content label {
	position: absolute;
	right: 5px;
	top: 8px;
	cursor: pointer;
	font-size: 26rem;
}

.menu__content nav {
	transform: translateY(25%);
}

.menu__content nav ul {
	list-style: none;
}

.menu__content nav a {
	display: block;
	padding: 20px;
	border-left: 3px solid transparent;
	transition: all 400ms ease;
	text-decoration: none;
	font-size: var(--title-h4);
	color: var(--just-grey);
}

.menu__content nav a:hover {
	border-left: 3px solid var(--just-grey);
	background-color: var(--warm-black);
}

.contenedor {
	width: 100%;
	/* margin: 0 auto 0 0; */
}

/* Baner */
#baner {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#baner>img {
	width: 100%;
}

#baner>.contenedor {
	position: absolute;
	top: 58%;
	left: 1%;
	/* transform: translateX(-50%) translateY(-50%); */
	color: var(--just-white);
}

#baner h2 {
	font-size: 80rem;
}

#baner p {
	margin-top: 50px;
	font-size: var(--title-h6);
	max-width: 25%;
}

/* secciones blanco */
.blanco.contenedor,
.negro.contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.blanco h2,
.negro h2 {
	font-size: var(--title-h1);
}

.blanco p,
.negro p {
	margin-top: 40px;
	font-size: var(--paragraphs);
	text-align: justify;
}

.info {
	width: 60%;
	padding: 0 40px;
}

.info>p {
	font-family: "Poppins", sans-serif;
}


/* Slider */
.frame-slider {
	width: 30%;
	height: 60%;
	overflow: hidden;
	border: 6px solid var(--just-grey);
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 10px 10px 100px 1px rgba(0, 0, 0, 0.9);
}

.frame-slider ul {
	display: flex;
	padding: 0;
	width: 300%;
	height: 100%;
	animation: slide 10s infinite alternate;
}

.frame-slider li {
	width: 100%;
	list-style: none;
}

.frame-slider img {
	height: 100%;
	width: 100%;
}

/*Definen los fotogramas de la secuencia de animacion
se estable un inicio y un fin para cada animacion estos se miden en % y van de 0
a 100*/
@keyframes slide {

	/* imagen1 */
	0% {
		margin-left: 0%;
	}

	/*inicio*/
	30% {
		margin-left: 0%;
	}

	/*fin*/
	/* imagen2 */
	35% {
		margin-left: -100%;
	}

	65% {
		margin-left: -100%;
	}

	/* imagen3 */
	70% {
		margin-left: -200%;
	}

	100% {
		margin-left: -200%;
	}
}

.negro {
	background: var(--just-black);
	color: var(--just-white);
}

.blanco.contenedor.resena {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.reviews {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--dark-variation);
	padding: 80px 100px;
	border-radius: 40px;
}

.reviews>img {
	width: 60%;
	border-radius: 1000px;
}

.reviews .name {
	font-size: var(--title-h3);
	color: var(--just-white);
}

.reviews .review {
	font-family: "Poppins", sans-serif;
	color: var(--just-grey);
}

footer {
	width: 100vw;
	height: 10vh;
	background-color: var(--just-black);
}

footer>nav>ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 10vh;
}

footer ul svg {
	width: 50px;
}

footer ul li>a {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid transparent;
	padding: 0 20px 5px;
	margin-right: 15px;
	transition: all 0.3s ease-in;
	text-decoration: none;
	font-weight: 500;
	font-size: 20rem;
	color: var(--just-white);
}

footer ul li>a:hover {
	border-bottom: 3px solid var(--color-variation);
	padding-bottom: 5px;
}
