body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mobile-header {
	width: 100vw;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	color: var(--just-white);
	background-color: var(--color-primary);
	border-bottom: 1px solid var(--color-secondary);
	box-shadow: 0 20px 20px 5px rgba(181, 131, 141, 0.4);
}

.mobile-header>nav {
	width: inherit;
	height: 115px;
	display: flex;
	padding: 12px 18px;
}

.mobile-header .navbar-left {
	width: inherit;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
}

.mobile-header .navbar-left i {
	font-size: 35px;
	margin-top: 5px;
}

.mobile-header .navbar-left>.brand {
	width: max-content;
}

.mobile-header .navbar-left .redirect-home {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--just-white);
	gap: 10px;
}

.mobile-header .navbar-left .redirect-home .logoImage {
	height: 85px;
}

.mobile-header .navbar-left .redirect-home .logoName {
	font-family: var(--fontMain);
	font-size: var(--title-h4);
	font-weight: normal;
}

.mobile-header .listNavigation,
.mobile-header .navbar-right {
	display: none;
}

#btn-menu {
	display: none;
}

.mobile-menu {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: all 800ms linear;
	background-color: var(--just-white);
}

#btn-menu:checked~.mobile-menu {
	opacity: 1;
	visibility: visible;
}

#btn-menu:checked~.mobile-menu .menu__content {
	transform: translateX(0%);
}

.menu__content {
	width: inherit;
	height: inherit;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px 24px 50px;
	transition: all 600ms linear;
	transform: translateX(100%);
}

.menu__content>label {
	position: absolute;
	top: 30px;
	right: 20px;
}

.menu__content>label>i {
	font-size: 35px;
	color: var(--color-primary);
}

.menu__content>.topSection>.listNavigation,
.menu__content>.bottomSection>.userAccount {
	list-style: none;
	border-bottom: 2px solid var(--color-primary);
}

.menu__content>.topSection h3 {
	font-family: var(--fontMain);
	font-size: var(--title-h2);
	margin-bottom: 40px;
}

.menu__content>section>ul>li {
	margin-bottom: 24px;
}

.menu__content>.topSection a,
.menu__content>.bottomSection a {
	margin-left: 30px;
	font-size: var(--paragraphs);
	font-weight: 600;
	text-decoration: none;
	color: var(--just-black);
}

.menu__content>.bottomSection>.userAccount .email {
	font-size: 14px;
	font-weight: 200;
}

.menu__content>.bottomSection>.userAccount .signOut {
	display: flex;
	gap: 10px;
	color: var(--color-primary);
}


.productContainer {
	width: 100%;
	height: auto;
	margin-top: 100px;
	padding: 30px 10px 20px;
	/* background-color: var(--text-input-field); */
}

.table-container {
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	/* scroll-snap-type: x proximity; */
	padding-bottom: 10px;
}
.table-container::-webkit-scrollbar {
	background-color: var(--color-variation);
	height: 5px;
}
.table-container::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
}

.title {
	font-size: var(--title-h1);
	text-align: center;
	color: var(--dark-variation);
}

.linkToAddProduct {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 30px 0 20px;
	border-radius: 5px;
	font-weight: 600;
	text-decoration: none;
	color: var(--just-white);
	background-color: var(--color-primary);
}

.buscador {
	height: 45px;
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
	font-size: var(--paragraphs);
}
.buscador> input {
	padding: 10px;
}
.buscador > input[type="text"] {
	width: 80%;
}
.buscador>input[type="submit"] {
	width: 20%;
	background-color: var(--color-primary);
	border: none;
	border-radius: 5px;
	color: var(--just-white);
	font-weight: 600;
}

th,
td {
	border: 2px solid var(--color-variation);
}

.productsTable {
	height: auto;
	margin: 20px auto 0;
	border-collapse: collapse;
}

.productsTable>.encabezadoTable>tr>th {
	font-size: 18px;
	padding: 10px;
}

.cuerpoTable > .filaInfoProduct {
	height: 150px;
}
.cuerpoTable>.filaInfoProduct>td {
	font-family: var(--fontAlternative);
	font-size: 14px;
	padding: 5px;
}

.cuerpoTable>.filaInfoProduct>.urlData > figure {
	height: 150px;
	min-width: 200px;
	background-position: center;
	background-size: cover;
}

.cuerpoTable>.filaInfoProduct>.descripcionData {
	font-size: 12px;
}

.cuerpoTable>.filaInfoProduct>.existenciasData {
	font-size: 16px;
	font-weight: 600;
}

.cuerpoTable>.filaInfoProduct>.precioData {
	font-size: 18px;
	font-weight: 700;
}

.cuerpoTable>.filaInfoProduct>.precioData>p {
	text-decoration: underline;
}

.cuerpoTable>.filaInfoProduct>.queryButton {
	padding: 10px;

}
.queryButton > a {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 10px;
	margin-bottom: 20px;
	background-color: var(--color-primary);
	text-decoration: none;
	color: white;
	gap: 5px;
	border-radius: 5px;
}

.idData,
.nombreData,
.existenciasData,
.precioData {
	text-align: center;
}

.cuerpoTable>.filaInfoProduct>.urlData>img {
	height: 100px;
	padding: 5px;
}
